<h1 mat-dialog-title>Patch resource item {{ field.resourceId }}</h1>
<div mat-dialog-content>
  <ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchDefault [ngSwitch]="field.type">
      <textarea
        *ngSwitchDefault
        [(ngModel)]="field.value"
        matInput
        rows="5"
      ></textarea>
      <input
        *ngSwitchCase="'number'"
        [(ngModel)]="field.value"
        matInput
        type="number"
      />
      <mat-label>{{ field.path }}</mat-label>
    </mat-form-field>
    <mat-checkbox *ngSwitchCase="'boolean'" [(ngModel)]="field.value">
      {{ field.path }}
    </mat-checkbox>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button (click)="dialogRef.close()" mat-button>
    {{ hasChanges() ? "Discard" : "Cancel" }}
  </button>
  <button
    (click)="dialogRef.close(set(field, 'value', null))"
    [disabled]="!field.nullable || dataBackup.value == null"
    color="warn"
    mat-button
  >
    Delete
  </button>
  <button
    (click)="dialogRef.close(field)"
    [disabled]="!hasChanges()"
    mat-button
  >
    Save
  </button>
</div>
