:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    font-size: 3em;
    letter-spacing: 0.1em;
    padding: 0.5em 0;
    text-align: center;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-tab-nav-panel {
    flex-grow: 1;
}

footer {
    bottom: 0;
    position: fixed;
    right: 0;
}
