<table
  *ngIf="table && table.primaryPaths.concat(table.secondaryPaths) as paths"
  (cdkDropListDropped)="moveTableColumns(table, $event)"
  [cdkDropListData]="paths"
  [dataSource]="dataSource"
  cdkDropList
  cdkDropListLockAxis="x"
  cdkDropListOrientation="horizontal"
  mat-table
>
  <ng-container *ngIf="['select', 'index'].concat(paths) as columns">
    <ng-container matColumnDef="select" sticky>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let tableRow" mat-cell>
        <mat-checkbox
          *ngIf="assertIsTableRow(tableRow) as tableRow"
          (change)="toggleTableRowIsSelected(tableRow)"
          [checked]="selectionModel.isSelected(tableRow)"
        >
        </mat-checkbox>
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <button
          (click)="
            scrollToAnchor(
              assertIsTableRow(selectionModel.selected[0])?.resourceId
            )
          "
          mat-icon-button
        >
          <mat-icon>vertical_align_top</mat-icon>
        </button>
        <button
          (click)="intersectionIgnored = !intersectionIgnored"
          mat-icon-button
        >
          <mat-icon>
            play_{{ intersectionIgnored ? "disabled" : "arrow" }}
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="index" sticky>
      <th *matHeaderCellDef mat-header-cell></th>
      <td *matCellDef="let tableRow" mat-cell>
        <ng-container *ngIf="assertIsTableRow(tableRow) as tableRow">
          <a [name]="tableRow.resourceId"></a>
          {{ tableRow.index + 1 }}
        </ng-container>
      </td>
      <td *matFooterCellDef mat-footer-cell>
        <mat-form-field>
          <mat-label>Page size</mat-label>
          <mat-select
            (ngModelChange)="updateTable(table, { limit: $event })"
            [ngModel]="table.query.limit"
          >
            <mat-option
              *ngFor="let pageSize of [10, 25, 50]"
              [value]="pageSize"
            >
              {{ pageSize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container
      *ngFor="
        let tableColumn of table.columns | filter : 'include';
        trackBy: trackByIndex
      "
      [matColumnDef]="tableColumn.path"
    >
      <th *matHeaderCellDef mat-header-cell>
        <b>{{ tableColumn.path }}</b>
      </th>
      <td *matCellDef="let tableRow" mat-cell>
        <ng-container *ngIf="assertIsTableRow(tableRow) as tableRow">
          <div
            *ngIf="tableRow.fields[tableColumn.path] as tableField"
            (click)="openTableFieldUpdateDialog(table, tableField)"
            class="table-field"
          >
            <div
              [attr.data-type]="getType(tableField.value)"
              class="table-field__label"
            >
              {{ tableField.value }}
            </div>
          </div>
        </ng-container>
      </td>
      <td
        *matFooterCellDef
        [cdkDragData]="tableColumn.path"
        cdkDrag
        mat-footer-cell
      >
        <mat-form-field>
          <input
            (change)="updateTableColumns(table)"
            (ngModelChange)="
              columnFilter.invalid || (tableColumn.filter = $event)
            "
            [ngModel]="tableColumn.filter"
            #columnFilter="ngModel"
            matInput
            pattern="[^,]*"
            placeholder="/(?:)/"
            type="text"
            validateRegExp
          />
          <mat-label>{{ tableColumn.path }}</mat-label>
          <button
            (click)="tableColumn.filter = ''; updateTableColumns(table)"
            [disabled]="!tableColumn.filter"
            mat-icon-button
            matSuffix
          >
            <mat-icon>filter_alt{{ tableColumn.filter && "_off" }}</mat-icon>
          </button>
          <mat-error *ngIf="columnFilter.errors?.['syntax'] as syntaxError">
            {{ syntaxError }}
          </mat-error>
          <mat-error *ngIf="columnFilter.errors?.['pattern'] as patternError">
            Required pattern: {{ patternError.requiredPattern }}
          </mat-error>
        </mat-form-field>
        <button
          *ngIf="tableColumn.sortIndex != null"
          (click)="
            tableColumn.order = tableColumn.order === 'desc' ? '' : 'desc';
            updateTableColumns(table)
          "
          mat-icon-button
        >
          <mat-icon>{{
            tableColumn.order === "desc" ? "north" : "south"
          }}</mat-icon>
        </button>
        <button [matMenuTriggerFor]="menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu>
          <button
            *ngIf="tableColumn.sortIndex != null"
            (click)="
              pull(table.primaryPaths, tableColumn.path);
              syncTableColumns(table)
            "
            mat-menu-item
          >
            Disable sort
          </button>
          <button
            *ngIf="tableColumn.sortIndex == null"
            (click)="
              table.primaryPaths.push(tableColumn.path); syncTableColumns(table)
            "
            mat-menu-item
          >
            Sort ascending
          </button>
          <button
            *ngIf="tableColumn.sortIndex == null"
            (click)="
              tableColumn.order = 'desc';
              table.primaryPaths.push(tableColumn.path);
              syncTableColumns(table)
            "
            mat-menu-item
          >
            Sort descending
          </button>
          <button (click)="openTableColumnToggleDialog(table)" mat-menu-item>
            Toggle...
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <ng-container matColumnDef="tableRowsPlaceholder">
      <td *matCellDef="let tableRow" [colSpan]="columns.length" mat-cell>
        <ng-container
          *ngIf="assertIsTableRowsPlaceholder(tableRow) as tableRowsPlaceholder"
        >
          <button
            (click)="fetchTableRows(table, tableRowsPlaceholder.pageToken)"
            (intersection)="
              fetchTableRows(table, tableRowsPlaceholder.pageToken)
            "
            [disabled]="!intersectionIgnored"
            [intersectionIgnored]="intersectionIgnored"
            mat-button
            observeIntersection
          >
            <mat-icon svgIcon="dashArray"></mat-icon>
          </button>
        </ng-container>
      </td>
    </ng-container>

    <tr *matHeaderRowDef="columns" mat-header-row></tr>

    <tr
      *matRowDef="let tableRow; columns: columns"
      (viewInit)="$event.scrollIntoView({ block: 'start' })"
      [viewInitIgnored]="
        assertIsTableRow(tableRow)?.resourceId !== table.query.resourceId
      "
      mat-row
      observeViewInit
    ></tr>

    <tr
      *matRowDef="
        let tableRow;
        columns: ['tableRowsPlaceholder'];
        when: isTableRowsPlaceholder
      "
      mat-row
    ></tr>

    <tr *matNoDataRow>
      <td [attr.colspan]="columns.length">No data</td>
    </tr>

    <tr *matFooterRowDef="columns; sticky: true" mat-footer-row></tr>
  </ng-container>
</table>
